name: Android CI

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master", "develop" ]

permissions:
  contents: read

concurrency:
  group: android-ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Create local.properties for CI (avoid NPE)
        env:
          MY_LOCAL_KEY: ${{ "1" }}
          ANOTHER_KEY: ${{ "1" }}
        run: |
         SDK_DIR="${ANDROID_SDK_ROOT:-/usr/local/lib/android/sdk}"
          {
            echo "sdk.dir=$SDK_DIR"
            echo "kakao.native.key=${MY_LOCAL_KEY:-}"
            echo "kakao.app.key=${ANOTHER_KEY:-}"
          } > local.properties

      - name: Ktlint check
        run: ./gradlew ktlintCheck --stacktrace

      - name: Build
        run: ./gradlew build --stacktrace
